@import url(./imports/navigation.css);
@import url(./imports/variables.css);
@import url(./imports/footer.css);
@import url(./imports/intro.css);
@import url(./imports/about.css);
@import url(./imports/projCross.css);
@import url(./imports/projSemester.css);
@import url(./imports/projExam.css);
@import url(./imports/contact.css);

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  color: var(--clr-text);
  /* background-color: var(--clr-bg); */
  background-color: var(--clr-bg-2);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

p {
  color: var(--clr-text);
  font-size: var(--fs-sm);
}

button {
  background: #000;
  color: #ffe4c4;
  font-size: var(--fs-xm);
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: rgb(45, 45, 45);
}

img {
  max-width: 100%;
}

.remove-scroll {
  overflow: hidden;
}

.link-hover {
  display: inline-block;
}

.link-hover::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  transition: width 0.5s ease-in-out;
  background-color: black;
}

.link-hover:hover::after {
  width: 100%;
}

.hidden {
  display: none;
}

.projects-section .semester-card,
.crossCourse-card,
.projectExam-card {
  display: grid;
  height: 70vh;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain;  works on iphone*/
  background-attachment: fixed; /* Makes image in place */
  /* background-attachment: scroll; works on iphone*/
  background-position: center;
}

.projects-section h1 {
  text-align: center;
  font-size: var(--fs-lg);
  margin-top: 4rem;
}

.projects-section h2 {
  grid-column-start: 2;
  font-size: var(--fs-lg);
  margin: 0;
  padding: 30px;
  text-align: center;
  color: #ffe4c4;
}

.projects-section p {
  grid-column-start: 2;
  margin: 0;
  padding: 30px;
  color: bisque;
}

.projects-section .crossCourse-description,
.semester-description,
.projectExam-description {
  display: none;
  grid-column-start: 2;
  grid-column-end: 12;
  background-color: rgba(0, 0, 0, 0.9);
  margin: auto;
  animation: fadeIn 500ms;
  color: var(--clr-text);
  border-radius: 5px;
}

.logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.github img {
  width: 150px;
}
.livesite img {
  width: 100px;
}

@media (max-width: 650px) {
  .projects-section h2 {
    font-size: var(--fs-md);
  }

  .logos {
    justify-content: center;
    gap: 1.5rem;
    border-bottom: 2px solid #000;
  }

  .github img {
    width: 100px;
  }

  .livesite img {
    width: 50px;
  }

  .intro-content-text-top {
    margin-bottom: 0;
  }
}
