.intro-section {
  /* height: 100vh; */
  height: auto;
  padding-bottom: 1rem;
}

.intro-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: calc(100% - 70px);
  /* dynamically sets height of the element to 70 pixels less than parent element  */
}

.intro-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  /* change to mix from source  */
  grid-column-start: 2;
  grid-column-end: 6;
  height: 90%;
}

.intro-content-text-top {
  font-size: var(--fs-xl);
  animation: popIntoView 1.5s forwards;
}

@keyframes popIntoView {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.intro-span-text {
  margin: 0;
  /* margin-right: 1rem; */
  font-size: var(--fs-lg);
  /* change to start  */
  text-align: end;
  /* change to start  */
  /* justify-self: end; */
  /* width: 100vw; */
}

.intro-content-bg {
  grid-column-start: 9;
  grid-column-end: 12;
  width: 110%;
  height: 70%;
  align-self: center;
  background-image: url(../../images/morten-farger-2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border: 2px solid black;
  /* border-radius: 50%; */
  animation: popIntoView 1.5s forwards;
}

@media (max-width: 1200px) {
  .intro-content-bg {
    grid-column-start: 2;
    grid-column-end: 6;
    padding-bottom: 100%;
    border-radius: 50%;
    top: 50px;
    left: 75%;
    height: 90%;
    width: 100%;
    align-self: self-start;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .intro-content-text-top {
    font-size: var(--fs-lg);
  }

  .intro-content {
    grid-template-rows: auto 1fr;
  }

  .intro-text-container {
    grid-column-end: 12;
    margin-top: 2rem;
  }

  .intro-content-text-bottom p {
    margin: 0;
    margin-right: 1rem;
    font-size: var(--fs-md);
    text-align: start;
    justify-self: end;
  }

  .intro-span-text {
    text-align: start;
  }

  .intro-span-text span {
    display: inline-block;
  }
}

@media (max-width: 650px) {
  .intro-content-bg {
    top: 0px;
    left: 50%;
    height: 140%;
    width: 140%;
    animation: none;
  }

  .intro-text-container,
  h1 {
    margin-top: 0;
  }

  .intro-content-text-top {
    animation: none;
  }
}
