a {
  color: var(--clr-text);
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  grid-column-start: 8;
  grid-column-end: 12;
}

.header {
  position: relative;
}

.desktop-menu {
  place-content: center;
  grid-template-columns: repeat(12, 1fr);
  font-size: var(--fs-sm);
  height: 4.5rem;
  font-size: var(--fs-md);
}

.desktop-menu span {
  grid-column-start: 2;
  grid-column-end: 7;
}

.mobile-menu {
  background-color: var(--clr-bg);
  position: relative;
  height: 50px;
}

.mobile-menu-ul.hide {
  animation: slideOut 0.4s forwards;
  display: none;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.mobile-menu-ul.show {
  display: flex;
  animation: slideIn 0.4s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* .mobile-menu-ul {
  justify-content: center;
  flex-direction: column;
  position: fixed;
  z-index: 500;
  margin-top: 50px;
  background-color: var(--clr-bg);
  inset: 0;
  padding: 1rem;
}

.mobile-menu-ul li {
  font-size: var(--fs-xl);
} */

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.mobile-menu-btn {
  background-color: inherit;
  border: none;
}

.icon-feather {
  width: 25px;
  height: 25px;
}

/* Hamburger menu  */
/* Source: https://www.youtube.com/watch?v=At4B7A4GOPg&ab_channel=WebDevSimplified  */
.toggle-button {
  position: absolute;
  top: 2rem;
  right: 3rem;
  display: none; /*Hides in big viewports*/
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media (min-width: 650px) {
  .desktop-menu {
    display: grid;
  }

  .mobile-menu {
    display: none;
  }
}

@media (max-width: 650px) {
  .navbar-links.active {
    background: var(--clr-bg-2);
    font-size: var(--fs-xl);
    display: flex;
    z-index: 500;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    animation: slideIn 0.4s forwards;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .navbar-links.active ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
    background-color: var(--clr-bg);
  }

  .mobile-menu span {
    grid-column-start: 2;
    grid-column-end: 7;
    font-size: 1.2rem;
    align-self: flex-end;
    font-weight: 800;
  }

  .toggle-button {
    display: flex;
    z-index: 600;
  }

  .desktop-menu {
    display: none;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }
}
