/* Cross Course */
.crossCourse-card {
  background-image: url(../../images/crossProjectLarge.jpeg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.crossCourse-btn {
  grid-column-start: 4;
  grid-column-end: 5;
}

.crossCourse-link {
  grid-column-start: 6;
  grid-column-end: 7;
}

.crossCourse-repo {
  grid-column-start: 8;
  grid-column-end: 9;
}

@media (max-width: 1000px) {
}
