/* Semester */
.semester-card {
  background-image: url(../../images/semesterLarge.jpeg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.semester-btn {
  grid-column-start: 4;
  grid-column-end: 5;
}

@media (max-width: 650px) {
  .semester-card {
    background-image: url(../../images/semesterMobile.png);
  }
}
