/* Cross Course */
.crossCourse-card {
  background-image: url(../../images/crossProjectLarge.jpeg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.crossCourse-btn {
  grid-column-start: 4;
  grid-column-end: 5;
}

@media (max-width: 650px) {
  .crossCourse-card {
    background-image: url(../../images/crossProjectMobile.png);
  }
}
