/* Semester */
.projectExam-card {
  background-image: url(../../images/projExamLarge.jpeg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.projectExam-btn {
  grid-column-start: 4;
  grid-column-end: 5;
}

@media (max-width: 650px) {
  .projectExam-card {
    background-image: url(../../images/projExamMobile.png);
  }
}
