:root {
  --clr-bg: #f5f5dc;
  --clr-heading: #242420;
  --clr-text: #363630;
  /* clamp(min, preferred, max) */
  --fs-sm: clamp(0.9375rem, 0.8218rem + 0.6173vw, 1.5625rem);
  --clr-text-modal: #c8c8c8;
  --clr-cta-modal: #fbfbfb;

  /*Font Size*/
  --fs-sm: clamp(0.9375rem, 0.8218rem + 0.6173vw, 1.5625rem);
  --fs-md: clamp(1.5625rem, 1.4468rem + 0.6173vw, 2.1875rem);
  --fs-lg: clamp(1.875rem, 1.5278rem + 1.8519vw, 3.75rem);
  --fs-xl: clamp(3.125rem, 2.5463rem + 3.0864vw, 6.25rem);
}
